<div class="app-container">
  <div class="grid grid-cols-2 gap-8">
    <app-banner />
    <div class="relative overflow-hidden">
      <div
        class="absolute w-full left-0 top-0"
        [@login]="loginIsOpen ? 'open' : 'closed'">
        <app-login (openRegister)="openRegisterClick()" />
      </div>
      <div
        class="absolute w-full left-0 top-0"
        [@register]="registerIsOpen ? 'open' : 'closed'">
        <app-register (openLogin)="openLoginClick()" />
      </div>
    </div>
  </div>
</div>
