<section
  class="flex justify-center items-start h-[100vh] w-full flex-col gap-6">
  <div
    class="rounded-sm bg-slate-50 border w-full max-w-96 p-8 flex flex-col items-center">
    <img
      src="assets/insta-logo.svg"
      alt="logo Instagram"
      class="w-full max-w-60" />
    <input type="text" class="input-default mt-4" placeholder="E-mail" />
    <input type="text" class="input-default mt-4" placeholder="Senha" />
    <button
      class="w-full mt-4 bg-blue-600 transition hover:bg-blue-800 text-slate-50 p-2 rounded">
      Entrar
    </button>
    <span class="text-red-600 text-center text-sm mt-8">
      O nome de usuário ou senha estão incorretos. Por favor, tente novamente.
    </span>
  </div>
  <div
    class="rounded-sm bg-slate-50 border w-full max-w-96 p-8 flex flex-col items-center">
    <span
      >Não tem uma conta?
      <a href="#" class="text-blue-600 hover:text-blue-800 hover:underline"
        >Cadastra-se</a
      ></span
    >
  </div>
</section>
